{% extends "blog/base.html" %}

{% block title %}存档 | 冰峰世界{% endblock %}

{% block navigator %}
    <li><a href="/">首页</a></li>
    <li><a href="/blog/archive" class="active">存档</a></li>
    <li><a href="/blog/1/">关于</a></li>
{% endblock %}

{% block content %}
<div class="content">
<div class="article">
    <div class="article_header"><a href="/blog/archive">全部文章</a></div>
    <div class="article_content" style="min-height:500px;">
    {% if articles %}
        
        <div class="archive_article">     
        {% for article in articles %}
         <p class="archive_title">            
        <span>{{ article.datetime|date:"Y-m-d" }}</span>
        <a title="{% for tag in article.tags.all %}{{ tag.title }} {% endfor %}" href="/blog/{{ article.id }}">{{ article.title }}</a>
        
        &nbsp;评论(<span class="ds-thread-count" data-thread-key="{{ article.id }}"></span>)
        
        {% endfor %}
        </p>
        </div>
    {% endif %}
    </div>
</div>


    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}<a class="active1" href="?page=1">首页</a>{% else %}<span class="deactive">首页</span>{% endif %}
            
            {% if articles.has_previous %}<a class="active1" href="?page={{ articles.previous_page_number }}"><上一页</a>{% else %}<span class="deactive">上一页</span>{% endif %}
    
            {% for p in page_range %}
                    {% ifequal p articles.number %}
                             <a class="active" href="?page={{ p }}">{{ p }}</a>
                    {% else %}
                             <a class="deactive" href="?page={{ p }}">{{ p }}</a>
                    {% endifequal %}
            {% endfor %}

         <!--        <span class="currentpage">当前页码 {{ articles.number }}/{{ articles.paginator.num_pages }}, 本页共 {{ articles|length }} 篇文章。</span>    -->
           
            {% if articles.has_next %}<a class="active1" href="?page={{ articles.next_page_number }}">下一页></a>{% else %}<span class="deactive">下一页</span>{% endif %}
            
            {% if articles.has_next %}<a class="active1" href="?page={{ articles.paginator.num_pages }}">尾页</a>{% else %}<span class="deactive">尾页</span>{% endif %}
             <span style="float:right;font-size:10px;">共{{ articles.paginator.num_pages }}页</span>
        </span>
     </div>

</div>
{% endblock %}
