::selection {
    background: rgba(218, 53,53, 0.7);

}
body {
    width: 100%;
    color: #000000;
    font-size: 14px;
    font-family: verdana, Courier New;
    background-color:#282828;
    padding: 0px;
    margin: 0px;
}
p {
    padding: 0x 0px 0px 0px;
    margin: 10px 0px 10px 0px;
}

br {
    padding: 0x 0px 0px 0px;
    margin: 4px 0px 4px 0px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #F0F0F0;
}


a {
    color: #005059;
    font-weight:bold;
    overflow: hidden;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

a:hover {
    color: #ffab3c;
}


div {
    padding: 0px;
    margin: 0px;
    word-break:break-all;
}

div.header{
    color:#ffffff;
    height: 400px;
//    width:1120px;  
    margin:0px auto; 
}
div.header-image {
   background-image:url(../image/123.jpg);
   background-size:100% 100%;
  
}

div.logo{
    float: left;
    text-align:right;
    padding: 30px 0px 0px 10px;
    height: 80px;
}

div.title{
    text-align: left;
    padding: 41px 0px 0px 0px;
    height: 100px;
}

p.title{
    font-size: 24px;
    padding-left:100px;
    font-weight:bold;
}
p.moto{
    padding: 0px 0px 0px 100px;
    font-size: 10px;
}

div.nav{
//    background: url('../image/x.png') 0 0;
    height: 53px;
    width: 1080px;
    margin:0 auto;
    border-bottom:1px solid #ddd;
}

ul.menu{
    padding: 0px;
    margin: 0px;
}

.menu li{
    float: left;
    display: inline; /* do not show the dot of list */
    
}

.menu li a{
    float: left;
    text-decoration: none;
    padding:0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #0997ec;
    width: 60px;
    line-height:52px;
    text-align: center;
}
.menu li a.active{
    color: #fff;
    border:1px solid;
    border-color:#ddd #ddd #4BA3BB #ddd;
    padding:0 12px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.menu li a:hover{
    color: #33C1C4;
}
div.middle {
     background-color:#e7eaea;
     width:1120px;
     margin:0px auto;
}
div.wrap{
    max-width: 1080px;
    margin: 0px auto 0px auto;
    height: 100%;
}


div.content{
    float: left;
    height: 100%;
}

div.article{
    width: 814px;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    background-color: #f9f9f9;
    color:#393939;
    height: 100%;
    border-radius: 5px;
}

div.article_border {
    width: 814px;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
    background-color: #f9f9f9;
    color:#393939;
    height: 100%;
//    border:2px solid #ddd;
    border-radius: 5px;
}

div.article_border:hover {
    width:814px;
    border-radius:2px;
    box-shadow: 0 0 0 3px #18B4D0;
}

div.article2{
    clear: both;
    float: left;
    width: 814px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    background-color: #fff;
    color:#393939;
    height: 100%;
    border-radius: 5px;
}

div.article_header{
    border-bottom: 1px solid #E1E1E1;
    font-weight: bold;
    background-image: url('../image/x.png');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 45px;
    padding: 0px 20px 0px 15px;
    margin: 0px 0px 0px 0px;
}

div.pagination{
    width: 794px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 30px 0px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}


div.pagination a.active1 {
    display: block;
    font-size: 12px;
    border: 1px solid #DDD;
    padding: 3px 15px 5px 15px;
    font-weight: normal;
    color: #1985FF;
    border-radius: 3px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

div.pagination a.active {
    display: block;
    font-size: 12px;
    border: 1px solid #337AB7;
    padding: 3px 10px 5px 10px;
    font-weight: normal;
    color: #ffffff;
    background-color: #337AB7;
    border-radius: 1px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

div.pagination a.deactive {
    display: block;
    font-size: 12px;
    border: 1px solid #DDD;
    padding: 3px 10px 5px 10px;
    font-weight: normal;
    color: #000;
    border-radius: 1px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

div.pagination span.deactive{
    color: #999999;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #DDD;
    padding: 3px 15px 5px 15px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 1px;
    text-decoration: none;
}


div.article_tags{
    float: left;
    padding: 10px 10px 10px 20px;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
}

div.article_datetime{
    float: right;
    margin: 10px 20px 10px 10px;
    padding: 2px 7px 8px 7px;
    font-size: 12px;
    font-weight: normal;
    height: 10px;
    color: #999;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px #E9E9E9 solid;
}

div.article_content{
    clear: both;
    padding: 0px 20px 15px 20px;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    line-height: 27px;
}


div.article_content li p{
    text-indent: 0px;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

div.article_content p{
    text-indent: 0px;
    margin: 3px 0px 7px 0px;
    padding: 3px 0px 7px 0px;
}

div.article_content h1 {
    color: #000000;
    font-size: 28px;
}

div.article_content h2 {
    color: #000000;
    font-size: 24px;
}

div.article_content h3 {
    font-size: 15px;
    margin: 20px 0px 0px 0px;
}

div.article_content h4 {
    font-size: 15px;
    margin: 20px 0px 0px 0px;
}

div.article_content h5 {
    font-size: 14px;
}

div.article_content h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}



div.article_content blockquote{
    color: #666666;
    margin: 0px;
    padding-left: 7px;
    border-left: 9px #EEE solid;
}

div.article_content li{
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
}


div.article_content pre{
    background: #F6F6F6;
    color: #5E5E5E;
    border: 1px solid #E8E8E8;
    padding: 0px 2px 0px 2px;
    overflow: auto;
    overflow-y: hidden;
    
    line-height: 20px;
    border-radius: 1px;
    font-family: Courier New;
    font-size: 12px;
    text-indent: 0px;
}
div.article_content code{
    display: run-in;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    overflow: auto;
    overflow-y: hidden;
    
    border-radius: 1px;
    font-family: Courier New;
    font-size: 12px;
    text-indent: 0px;
}

div.article_content pre code{
    border: 0px solid #ccc;
    padding: 3px 3px 3px 0px;
    margin: 0px;
}




div.sidebar{
    float: right;
    width: 216px;
    padding: 0px 10px 10px 10px;
    margin: 20px 0px 10px 0px;
    background-color: #fff;
    border-radius: 5px;
    color:#066C75;
    height: 100%;
}

div.recentcmt{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
//    line-height: 22px;
    min-height:100px;
}

div.recentcmt p{
    margin: 5px 0px 5px 0px;
    padding: 0px;
    color: #393939;
}
div.recentcmt a{
    font-weight: bold;
    font-size: 13px;
    color: #393939;
    display: inline;
    border: none;
    padding: 0px;
    text-decoration: none;
}
div.ds-top-threads {
   color:#000;
   font-size:  15px;
   padding-top: 0px;
   min-height: 100px;
}
div.ds-top-threads li {
    display:block;
}
div.ds-top-threads a {
    color: #999;
    display: block;
    padding: 5px 0px 5px 5px;
    font-weight: normal;
    height:100%;
    overflow: hidden;
    text-decoration: none;
}

div.ds-top-threads a:hover {
   background-color:#E9E9E9;
   padding: 5px 0px 5px 2px;
   color:#4FA7FF;
   border-left:3px solid #EA4270;
}

div.recentcmt a:hover{
    font-weight: bold;
    display: inline;
    text-decoration: underline;
}


.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #666;
    border-bottom: 2px #ddd solid;
}

.tagbar  a {
    color: #999;
    display: block;
    border: 1px solid #DDD;
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    font-weight: normal;
    overflow: hidden;
    background-color: #F9F9F9;
    border-radius: 3px;
    text-decoration: none;
}

.article_tags  a {
    color: #999;
    display: block;
    border: 1px solid #dddddd;
    padding: 2px 7px 4px 7px;
    margin: 0px 5px 5px 0px;
    font-weight: normal;
    overflow: hidden;
    background-color: #F9F9F9;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; /* do not show the dot of list */
}


.article_tags a:hover{
    color: #ffffff;
    background-color: #2099AB;
}
.article_tags a.active{
    background-color: #2099AB;
    color: #ffffff;
}


div.article_comment{
    text-align: right;
    padding: 12px 10px 0px 0px;
    margin: 37px 0px 0px 0px;
    background-color: #F9F9F9;
    height: 37px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #E5E5E5;
}

.article_comment  a {
    font-size: 12px;
    color: #999;
    display: block;
    border: 1px solid #DDD;
    padding: 5px 20px 7px 20px;
    margin: 0px 10px 5px 0px;
    font-weight: 400;
    overflow: hidden;
    background-color: #F9F9F9;
    border-radius: 5px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}
.article_comment a:hover, .tagbar a:hover{
    color: #ffffff;
    background-color: #2099AB;
}

.article_comment a.readmore {
    display: block;
    font-size: 12px;
    border: 1px;
    padding: 5px 10px 7px 10px;
    font-weight: normal;
    background-color: #2099AB;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

.article_header  a {
    font-size: 24px;
    color: #005059;
    display: block;
    padding: 10px 5px 3px 5px;
//    margin: 20px 0px 0px 0px;
    font-weight: bolder;
    overflow: hidden;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
}
.article_header a:hover{
    color: #FF9C00;
}


.sidebar a span {
    border-left: 1px solid #DDD;
    display: block;
    float: right;
    margin: -5px 0 -5px 5px;
    padding: 6px 5px;
    text-align: center;
    width: 20px;
    text-decoration: none;
}

.article_tags a span {
    border-right: 1px solid #DDD;
    margin-right: 8px;
    padding: 6px 6px 6px 0px;
    text-align: center;
    width: 10px;
    text-decoration: none;
    color: #066C75;
}
.article_datetime span {
    border-right: 1px solid #DDD;
    margin-right: 8px;
    padding: 2px 6px 4px 0px;
    text-align: center;
    width: 10px;
    color: #066C75;
}
.sidebar  a.active{
    background-color: #2099AB;
    color: #ffffff;
    border: 1px solid #2099AB;
    padding: 6px 8px;
}



div.article_expand{
    float: right;
}

div.article_expand a{
    font-size: 12px;
    color: #999;
    display: block;
    border: 1px solid #DDD;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    font-weight: 400;
    overflow: hidden;
    background-color: #F9F9F9;
    border-radius: 5px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */

}


div.submit_comment{
    clear: both;
    margin: 5px 10px 5px 10px;
    padding: 5px 3px 5px 3px;
    border-top: 0px #ddd solid;
}
div.submit_comment input{
    height: 20px;
    
    size: 200px; 
}


div.article_comments{
    clear: both;
    margin: 10px 5px 5px 5px;
    padding: 1px 5px 5px 5px;
}
h3.comment{
    font-size: 18px;
    margin: 8px 0px 20px 0px;
    padding-bottom: 3px;
    font-weight: bold;
    color: #666;
    border-bottom: 2px #ddd solid;
    text-align: center;
    color: #DB7C00;
}

div.subcomment{
    margin: 0px 0px 0px 100px;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
}

div.each_cmt{
    margin: 8px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px #ddd solid;
    background-color: #F9F9F9;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
}

div.each_cmt div{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}

div.each_cmt p.top{
    margin: 0px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px #DDDDDD solid;
    background-color: #EFEFEF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
div.each_cmt span{
    color: #2099AB;
    font-weight: bold;
}

div.each_cmt div{
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
div.each_cmt p{
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 3px;
}
div.each_cmt span.datetime{
    color: #BABABA;
    float: right;
    font-weight: normal;
}
div.each_cmt a.reply{
    color: #BABABA;
    padding: 0px 5px 0px 10px;
    text-decoration: none;
}
.each_cmt  a {
    font-weight: bold;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #2099AB;
    display: block;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}
.each_cmt a:hover{
    text-decoration: underline;
}


div.submit_comment label{
    font-size: 14px;
    color: #505050;
}
div.submit_comment input, textarea{
    width: 240px;
    color: #505050;
    border:1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}

div.submit_comment input.submit_button{
    color: #ffffff;
    height: 25px;
    background-color: #2099AB;
    border-radius: 2px;
    padding: 2px 0px 3px 0px;
    width: 170px;
    
}

div.footer{
    margin: 30px 0px 0px 0px;
    padding-top: 30px;
    font-size: 13px;
    border-top: 1px solid #5FB3CB;
    text-align: center;
    clear: both;
    color: #999999;
    height: 90px;
    background-color:#005059;
    font-weight: bold;
}

div.footer p{
    color: #999999;
    margin: 5px;
    padding: 5px;
}
div.article_content a {
   font-weight: normal; 
   font-size:18px;
   display: inline-table; 
   width: 580px; 
   padding-left:10px;
   vertical-align: top;
}
div.article_content p.archive_title {
    font-size: 14px; 
    line-height: 20px; 
    text-indent: 0px;
     margin: 10px 0px 5px 0px; 
    padding: 0px 0px 2px 0px; 
}
p.last-article {
  float:left;
}
p.next-article {
  float:right;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
     
//     body  { overflow:hidden;}
     div.sidebar { display:none;}
     div.top-bottom {display:none;}
     div.nav { width:98%;}
     div.pagination {width:96%;font-size:0.5rem;padding:6px;}
     div.article,div.article2{width:98%;margin:2px;auto;font-size:0.5em;}
     div.content  {width: 98%;padding-left:1.5%;}
     div.article_header a {font-size:1rem}
     div.article_header {padding:0px 5px 0px 5px;}
     div.article_tags {padding:5px 5px 5px 5px;}
     div.article_datetime {padding:5px 5px 5px 5px;margin:5px;font-size:0.5rem;}
     div.article_comment,div.comment {width:97%;font-size:0.5rem;}
     div.article_border,div.article_border:hover {width:98%;}
     div.article_content {padding:0px 10px 15px 10px;}
     div.article_content a { width:98%;font-size:0.9rem;}
     div.archive_article a { float:left;display:inline-table;color:#FF8224;font-weight:bolder;width:100%;}
     div.archive_article p { line-height:25px;}
     div.pagination a.active,div.pagination a.deactive,div.pagination a.active1,div.pagination span.deactive { padding:2px;}
     div.middle {width:98%;background-color:#000;}
     div.header{height:200px;}    
     
 
}







